/*
 * extracted from index.html
 * modified according to https://theoryware.net
 */
body{background-color:#2f383e;color:#d3c6aa;font-family:Monaco,Lucida Console,courier new,monospace;font-size:18px;margin:0 auto;max-width:64em}
a{color:#7fbbb3;text-decoration:none}
a:visited{color:#a7c080}
a:hover{color:#d699b6}
h2{color:#83c092}
h3{color:#e67e80}
