/*
 * everforest-medium-light
 */
body{background-color:#fdf6e3;color:#5c6a72;font-family:Monaco,Lucida Console,courier new,monospace;font-size:18px;margin:0 auto;max-width:64em}
a{color:#3a94c5;text-decoration:none}
a:visited{color:#93b259}
a:hover{color:#df69ba}
h2{color:#35a77c}
h3{color:#f85552}
