/* 
https://github.com/rgb-24bit/org-html-theme-list org-joshua
*/

body {
    font-family: system-ui, sans-serif !important;
    font-size: 16px;
    line-height: 1.5;
    /* FROM https://github.com/ZenLian/ZenLian.github.io/blob/zola/themes/cattery/static/css/style.css */
    color: #4c4f69;
    background-color: #eff1f5;
    /* margin: auto; */
}
body #content {
    padding-top: 1em;
    max-width: 60em;
    margin: auto;
}
body .title {
    margin-left: 0;
    text-align: center;
    margin-bottom: .2em;
}

#org-div-home-and-up {
    position: fixed;
	right: 0.5em;
	margin-top: 0;
}
#org-div-home-and-up a{
    color: #587e72;
}

#table-of-contents {
	z-index: 1;
	margin-top: 30px;
	font-size: 10pt;
	font-family: sans-serif;
	position: fixed;
	right: 0em;
	top: 0em;
	background: white;
	line-height: 12pt;
	text-align: right;
	box-shadow: 0 0 1em #777777;
	-webkit-box-shadow: 0 0 1em #777777;
	-moz-box-shadow: 0 0 1em #777777;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	/* ensure doesn't flow off the screen when expanded */
	max-height: 80%;
}
#table-of-contents h2 {
    font-size: 10pt;
    max-width: 9em;
    font-weight: normal;
    padding-left: 0.5em;
    padding-left: 0.5em;
    padding-top: 0.05em;
    padding-bottom: 0.05em;
}
#table-of-contents #text-table-of-contents {
    display: none;
    text-align: left;
}
#table-of-contents:hover #text-table-of-contents {
    display: block;
    padding: 0.5em;
    margin-top: -1.5em;
}
#table-of-contents #text-table-of-contents ul {
    list-style-position: outside;
}

h1 {
	margin-bottom: 1.5em;
}

h2 {
	color: #587e72;
	border-bottom: 1px solid #ddd;
	margin-top: 1.5em;
	padding-bottom: 8px;
}

.outline-text-2 {
	margin-left: 0.1em
}

h3 {
	color: #587e72;
	margin-left: 0.6em;
}

.outline-text-3 {
	margin-left: 0.9em;
}

h4 {
	color: #587e72;
	margin-left: 1.2em;
}

.outline-text-4 {
	margin-left: 1.45em;
}

a {
    cursor: crosshair;
    text-decoration: none; 
    color: #08c;            /* FROM Arch */
}
a:hover {
    text-decoration: underline; 
    color: #39c5bb;  /* FROM miku */
}

ul, ol {
    padding-left: 2em;
}

ul {
    list-style-type: square;
    list-style-image: inherit;
    list-style-position: outside;
}
ol {
    list-style-type: circle;
    list-style-position: outside;
}

.todo {
    color: #CA0000;
}

.done {
    color: #006666;
}

.timestamp-kwd {
    color: #444;
}

li {
    margin: .4em;
}

table {
    border: none;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

td {
    border: none;
    border-left: 1px solid black;
}

th {
    border: none;
}

table.full {
}

table.full td {
    border: 1px solid black;
    padding: 5px;
}

code {
    font-size: 100%;
    color: black;
    border: 1px solid #DEDEDE;
    padding: 0px 0.2em;
}

img {
    border: none;
}

.share img {
    opacity: .4;
    -moz-opacity: .4;
    filter: alpha(opacity=40);
}

.share img:hover {
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
}

pre {
    font-family: monospace;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    background-color: #EDEDED;  /* FROM Adwaita */
    overflow: auto;
    padding: 1.2em;
    margin: 1.2em;
}

div.summary {
    padding: 15px;
    border:1px solid #CCC;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.23);
    box-shadow: 0px 0px 4px rgba(0,0,0,0.23);
}

div.summary h2 {
    padding: 0;
    margin: 0;
}

.org-info-box {
    clear:both;
    margin-left:auto;
    margin-right:auto;
    padding:0.7em;
    /* border:1px solid #CCC; */
    /* border-radius:10px; */
    /* -moz-border-radius:10px; */
}
.org-info-box img {
    float:left;
    margin:0em 0.5em 0em 0em;
}
.org-info-box p {
    margin:0em;
    padding:0em;
}


.builtin {
    /* font-lock-builtin-face */
    color: #f4a460;
}
.comment {
    /* font-lock-comment-face */
    color: #737373;
}
.comment-delimiter {
    /* font-lock-comment-delimiter-face */
    color: #666666;
}
.constant {
    /* font-lock-constant-face */
    color: #db7093;
}
.doc {
    /* font-lock-doc-face */
    color: #b3b3b3;
}
.function-name {
    /* font-lock-function-name-face */
    color: #5f9ea0;
}
.headline {
    /* headline-face */
    color: #ffffff;
    background-color: #000000;
    font-weight: bold;
}
.keyword {
    /* font-lock-keyword-face */
    color: #4682b4;
}

.string {
    /* font-lock-string-face */
    color: #ccc79a;
}
.todo-comment {
    /* todo-comment-face */
    color: #ffffff;
    background-color: #000000;
    font-weight: bold;
}
.variable-name {
    /* font-lock-variable-name-face */
    color: #ff6a6a;
}
.warning {
    /* font-lock-warning-face */
    color: #ffffff;
    background-color: #cd5c5c;
    font-weight: bold;
}
pre.a {
    color: inherit;
    background-color: inherit;
    font: inherit;
    text-decoration: inherit;
}
pre.a:hover {
    text-decoration: underline;
}

#postamble {
    font-family: monospace;
    text-align: center;
    padding: .3em;
    margin-bottom: 1em;
    background-color: #eaeaea;  /* orgmode.org */
}

#postamble p, #preamble p { font-size: 90%; margin: .2em; }

#show_source {
    float: right;
    margin: .7em;
}


@media screen
{
    #table-of-contents {
        float: right;
        padding-right: 5px;
        border: 1px solid #CCC;
        max-width: 50%;
        overflow: auto;
    }
} /* END OF @media screen */

.due {
    font-size: 80%;
    margin: 0 1em 0 1em;
}

#contact-front p {
    text-align: left;
}

ul.index-links {
    padding-left: 0;
    margin-left: 0;
}

ul.index-links li {
    list-style-type: none;
    margin-left: 0;
}

div#preamble div#plupperButton a img {
    height: 16px;
    position: absolute;
    top: 4px;
}

blockquote {
    background: #f9f5d7;  /* FROM Xe */
    /* FROM simple.css */
    margin: 2rem 0 2rem 2rem;
    padding: 0.4rem 0.8rem;
    border-left: 0.35rem solid #209fb5; /* FROM cattery */
    color: #585858;
    font-style: italic;
}

.figure img {
    background: white;
    /* padding: 5px; */
    -moz-box-shadow: 0px 0px 5px #c7c7c7;
    -webkit-box-shadow: 0px 0px 5px #c7c7c7;
    box-shadow: 0px 0px 5px #c7c7c7;
}

div.hidden > strong {
    margin-left: 0;
    cursor: pointer;
    color: #aaa;
}

div.hidden > strong > small {
    margin-left: 1em;
    font-size: 90%;
    font-weight: normal;
    font-style: italic;
}

div.hidden div.hidden-content {
    padding-left: 10px;
    margin-bottom: 4em;
    border-left: 3px solid #999;
}

div.hidden {
    margin-bottom: 1em;
    margin-left: 2em;
}
